.App {
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(10, 30px [col-start]);
  padding-top: 50px;
  
}

.square {
  border: 1px solid black;
  height: 30px;
}

.shipSquare {
  border: 1px solid black;
  background-color: blue;
}

.missSquare {
  border: 1px solid black;
  background-color: red;
}

.hitSquare {
  border: 1px solid black;
  background-color: green;
}

